/* Navigation */
.navigation ul {
  padding-top: 1.7vh;
  padding-right: 3vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: calc(9px + 1vw);
  gap: 3vw;
}

.navigation li a {
  text-decoration: none;
  color: black;
}

.navigation li a:hover:not(.active) {
  color: grey;
}

.navigation li a.active {
  color: #1870D5;
}


/* Main Title */
/* Credit: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
  padding-top: 4vh;
  overflow: hidden; 
  margin-left: 5vw;
  white-space: nowrap; 
  letter-spacing: .05vw;
  font-family: "tahoma";
  font-size: calc(8px + 1.5vw);
  animation: 
    typing 3.5s steps(40, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 70vw }
}


/* Banner Images */
#bannerimageindex {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-image: url(homepage.png); 
  background-size: cover;
}

#bannerimageabout {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-image: url(aboutpage.png); 
  background-position: center;
}

#bannerimagearticles {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-image: url(articles.png); 
  background-position: center;
}


/* Home Page CSS */
.intro {
  display: flex;
  flex-wrap: wrap;
  font-weight: lighter;
  width: 90vw;
  margin-left: 5vw;
  padding-top: 80vh;
  padding-bottom: 1vh;
}

/* Credit: https://blog.hubspot.com/website/css-fade-in?hubs_content=blog.hubspot.com%2Fwebsite%2Fcss-fade-in&hubs_content-cta=Fade-in%20Image%20Transition */
.fade-in-image { 
  display: flex;
  gap: 1vw;
  animation: fadeIn 10s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.imgs {
  width: 100%;
}

.imgs img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* About Page CSS */
.aboutbackground {
  display: block;
  width: 85%;
  margin-left: 100px;
  padding-top: 525px;
  padding-bottom: 25px;
  color: #1870D5;
}

.aboutbgparagraph {
  display: block;
  width: 85%;
  margin-left: 100px;
  font-weight: lighter;
  word-wrap: break-word;
  padding-bottom: 20px;
}

.aboutwhy {
  display: block;
  width: 85%;
  margin-left: 100px;
  padding-bottom: 25px;
  color: #1870D5;
}

.aboutwhyparagraph {
  display: block;
  width: 85%;
  margin-left: 100px;
  font-weight: lighter;
  word-wrap: break-word;
  padding-bottom: 20px;
}

.aboutcalltoaction {
  display: block;
  width: 85%;
  margin-left: 100px;
  padding-bottom: 25px;
  color: #1870D5;
}

.aboutctaparagraph {
  display: block;
  width: 85%;
  margin-left: 100px;
  font-weight: lighter;
  word-wrap: break-word;
  padding-bottom: 20px;
}


/* Articles Page CSS */
.articleheader {
  width: 100vw;
  padding-top: calc(11px + 75vh);
  text-align: center;
  font-size: 6vw;
  animation: fadeIn 7s;
}

.articles {
  display: flex;
  justify-content: center;
  width: 70vw;
  margin-left: 15vw;
  padding-bottom: 7vh;
  font-size: 3.5vw;
  font-weight: semibold;
  color: black;
  text-decoration: none;
}

a:hover { color: #1870D5; }


/* General CSS */
body {
  font-family: "tahoma";
  display: flex;
  padding: 0px;
  margin: 0px;
}

